/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
    background-image: url(file:///Users/escobar/Pictures/cyberpunk_club.jpg);
    background-size: cover;
    .selected::before {
        background-color: rgba(30,60,200,0.5);
    }
    .status-ignored {
        display: none;
    }
    text-shadow:
        -1px -1px 0 rgb(30,60,200),
        1px -1px 0 rgb(30,60,200),
        -1px 1px 0 rgb(30,60,200),
        1px 1px 0 rgb(30,60,200);
}

atom-workspace {
    background-image: url(file:///Users/escobar/Pictures/cyberpunk_city1.jpg);
    background-size: cover;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
  background-image: url(file:///Users/escobar/Pictures/cyberpunk_girl2.jpg);
  background-size: cover;
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow .cursor {
  border-color: #4466FF;
  border-width: thin;
}

.ide-haskell-panel {
    .panel-body {
        background-image: url(file:///Users/escobar/Pictures/cyberpunk_girl1.jpg);
        background-size: cover;
        .result-block {
            color: rgb(16, 200, 256);
            font-weight: bold;
            font-size: 11pt;
            line-height: 16pt;
            .description {
                font-weight: normal;
                background-color: rgba(0,0,164,0.5);
                // font-family: 'Menlo';
                font-size: 10pt;
                border-radius: 12px;
                line-height: 13pt;
                padding: 8px 12px 8px 12px;
                color: lightgray;
                text-shadow:
                    -1px -1px 0 black,
                    1px -1px 0 black,
                    -1px 1px 0 black,
                    1px 1px 0 black;
            }
        }
    }
}

.tab-bar {
    height: 30px;
    .tab {
        top: -4px;
    }
}

.build{
    .panel-body {
        background-image: url(file:///Users/escobar/Pictures/cyberpunk_girl3dark.jpg);
        background-size: cover;
        color: lightgray;
        text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
}
